.gamepadhomerecentgames_RecentGamesBackgroundFadeGradient_1ksIq {
    display: none !important;
}

.gamepadhomerecentgames_RecentGamesBackgroundImages_30D-8 .gamepadhomerecentgames_RecentGamesBackground_1SRox {
    width: 150%;
    left: -25%;
}